<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8"/>
	<title>Login</title>
</head>
<body>
<form th:action="@{/login/auth}" method="post">
	<div>
		<input name="username" type="text" />
	</div>
	<div>
		<input name="password" type="password" />
	</div>
	<div>
		<input name="submit" type="submit" value="create" />
	</div>
</form>
</body>
</html>
