<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="layout::head('Startup')"></head>
<body>
<div class="ui middle aligned center aligned grid">
	<div class="column">
		<h2 class="ui image header">
			<i class="user icon"></i>
			<div class="content">Startup</div>
		</h2>
		<form class="ui large form" method="post" th:action="@{/startup}">
			<div class="ui div stacked segment">
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input name="password" type="password" placeholder="password"/>
					</div>
				</div>
				<div class="field">
					<button class="ui fluid large submit button">Create</button>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>
