<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8"/>
	<title>Startup</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/semantic.css}"/>
	<script th:src="@{/js/semantic.js}"></script>
</head>
<body>
<form th:action="@{/startup}" method="post" class="ui large form">
	<div class="ui input">
		<input name="password" type="text" placeholder="password"/>
	</div>
	<div>
		<button class="ui button">create</button>
	</div>
</form>
</body>
</html>
